
/* Reflect by simurai.com  */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold);

html {
	background: url("http://files.simurai.com/tumblr/img/bg.gif") repeat fixed 0 0 transparent;
	font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
#wrapper {
	padding: 150px 50px;
	text-align: center;
	background: transparent url(http://files.simurai.com/tumblr/img/bg_glow.png) no-repeat fixed center top;
}



#text {
	font: bold 12em 'Droid Sans', sans-serif;
		
	color: transparent;

	text-shadow: 	#fff 0 0 1px, 
					#eee 0 4px 3px, #ddd 0 9px 3px,  #ccc 0 12px 1px, 
					rgba(0,0,0,0.2) 0 14px 3px, rgba(0,0,0,0.1) 0 20px 10px,
					rgba(0,0,100,0.2) 0 15px 80px;
	
	-webkit-box-reflect:below -.25em 
		-webkit-gradient(linear, left top, left bottom, from(transparent), 
		color-stop(0.6, transparent), to( rgba(255,255,255,0.6) ));
	
}

#text:focus {
	outline: none;
}

